@import url('https://fonts.googleapis.com/css?family=Chilanka|Open+Sans:400,700&display=swap');

header nav img.img-header {
    width:150px;
    margin-right: 30px;
}

li.header-item {
    font-size: 1.3em;
    margin-right: 20px;
}