@media screen and (min-width: 576px) {
footer {
    background-color: #549127;  
    text-decoration: none;
    margin: 0;
    padding: 0 200px;
    z-index: 25;
}
#botoes{
    
}

.row{
    margin-bottom: -24px;
}

#log1{
    bottom: 80px;
}
.containerfooter {
    /* width: 100%; */
    padding: 0 15px;
}
.containerfooter a { 
    margin: 0 80px;
}
.text-muted {
    color:  #632a00!important;
}
.btn-block{
    display: table-footer-group;
    width: 80%;
    
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}



#hlogin{
    display: none;
}

.casas-login {
    margin: 0;
    padding: 0;
    background-image: url('../images/apartamentos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: -24px;
}

.logon input{
    border: 2px solid green;
    border-radius: 20px;
    width: 80%;
    

}



img {
vertical-align: middle;
/* height: 97vh; */
/* width: 100%; */
}
.logon {
border: 2px solid green;
width: 43%;
height: auto;
margin: 0 auto;
border-radius: 20px;
padding: 20px 0px;
text-align: center;
box-shadow: 5px 5px 5px green;
margin-top: 25vh;
/* margin: ; */
}

.logon input {
border: 2px solid green;
border-radius: 20px;
width: 100%;

}

.logon-with {
margin: 0 auto;
width: 150px;
height: 80px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.logon label {
text-align: start;
font-size: 1em;
}

.logon form p {
font-size: 10px;
text-align: end;
}

.logon-with img {
width: 40px;
height: 50px;
}

h1{
padding: 3px;
overflow: hidden;
}
h5{
overflow: hidden;
}
}

/* @media screen and (min-width: 315px) and (max-width: 575px) { */
    /* .casas-login{ */
        /* display: none; */
    /* } */
/* } */

/* @media screen and (min-width: 315px) and (max-width: 575px) {
    .logon{
        margin: 0 0 15px 0 !important;
    }
} */

@media screen and (min-width: 360px) and (max-width: 640px) {
    #log1{
        height: 605;
    }
    
    #hlogin{
        height: 10vh;
        width: 70%;
        display: block;
    }
    #hlogin1{
        display: flex;
        align-items: center;
        /* background-color: #ee9528; */
        box-shadow: 0px 10px 10px green;
    }
    
    
    
    .logon input{
        border: 2px solid green;
        border-radius: 20px;
        width: 80%;

    }
    .casas-login{
        display: none;
    }


img {
    vertical-align: middle;
    /* height: 97vh; */
    /* width: 100%; */
}
.logon {
    border: 2px solid green;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 0px;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 5px 5px 5px green;
    margin-top: 22vh;
    padding-bottom: 0;
    margin-top: 50px;
}

.logon input {
    border: 2px solid green;
    border-radius: 20px;
    width: 100%;

}

.logon-with {
    margin: 0 auto;
    width: 150px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logon label {
    text-align: start;
    font-size: 1em;
}

.logon form p {
    font-size: 10px;
    text-align: end;
}

.logon-with img {
    width: 40px;
    height: 50px;
}

h1{
    padding: 3px;
    overflow: hidden;
}
h5{
    overflow: hidden;
}
#botao{
    background-color: #ee9528;
}
.btn-block{
    display: table-footer-group;
    width: 80%;
    
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
footer {
    background-color: #549127;  
    text-decoration: none;
    margin: 0;
    padding: 0 90px;
    z-index: 25;
}
